.container {
    display: flex;
    background-color: #0ca1e7;
  }

  .drag-container {
    border: 1px solid #0ca1e7;
    padding: 10px;
    min-height: 200px;
    flex: 1;
  }
  
  .item {
    background-color: #f1f1f1;
    padding:20px;
    margin-bottom: 5px;
    cursor: move;
    size: 60px;

  }
  
  .item.dragging {
    opacity: 0.5;
  }
  
  .success-message {
    background-color: lightgreen;
    padding: 10px;
    text-align: center;
  }